Repository rimamei/hr-analytics-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=10, prettier -w

feat: add path alias
  .eslintrc.json
  nodemon.json
  package-lock.json
  package.json
  tsconfig.json
Due: prettier -w

feat: auth register and login
  src/constants/http-exception.ts
  src/constants/schema.ts
  src/constants/types.ts
  src/controllers/auth.controller.ts
  src/index.ts
  src/middlewares/validator.ts
  src/routes/auth.route.ts
  src/routes/index.ts
  src/services/auth.service.ts
  src/utils/token.utils.ts
Due: eslint --max-warnings=10, prettier -w

fix: login
  src/services/auth.service.ts
Due: eslint --max-warnings=10, prettier -w

feat: department
  prisma/schema.prisma
  src/constants/schema.ts
  src/controllers/department.controller.ts
  src/middlewares/auth.middleware.ts
  src/middlewares/validator.ts
  src/routes/department.route.ts
  src/routes/index.ts
  src/services/auth.service.ts
  src/services/department.service.ts
Due: eslint --max-warnings=10, prettier -w

fix: path alias eslint
  .eslintrc.json
  src/controllers/auth.controller.ts
  src/routes/auth.route.ts
Due: eslint --max-warnings=10, prettier -w

fix: token middleware
  src/middlewares/auth.middleware.ts
Due: eslint --max-warnings=10, prettier -w

feat: employee
  src/constants/schema.ts
  src/constants/types.ts
  src/controllers/employee.controller.ts
  src/middlewares/validator.ts
  src/routes/employee.route.ts
  src/routes/index.ts
  src/services/employee.service.ts
Due: eslint --max-warnings=10, prettier -w

refactor: auth and department
  src/services/auth.service.ts
  src/services/department.service.ts
Due: eslint --max-warnings=10, prettier -w

fix: params controller
  src/controllers/auth.controller.ts
  src/controllers/department.controller.ts
Due: eslint --max-warnings=10, prettier -w

fix: example env
  docker-compose.yml
Due: none

docs: add readme
  README.md
Due: prettier -w

docs: change readme
  README.md
Due: prettier -w

fix: change routes
  src/routes/index.ts
Due: eslint --max-warnings=10, prettier -w

docs: update docs
  README.md
Due: prettier -w

docs: update readme
  README.md
Due: prettier -w

feat: employee pagination
  package-lock.json
  package.json
  src/constants/schema.ts
  src/constants/types.ts
  src/controllers/department.controller.ts
  src/controllers/employee.controller.ts
  src/services/employee.service.ts
Due: eslint --max-warnings=10, prettier -w

fix: department
  src/controllers/department.controller.ts
  src/services/department.service.ts
Due: eslint --max-warnings=10, prettier -w

fix: employee detail
  src/services/employee.service.ts
Due: eslint --max-warnings=10, prettier -w

fix: schema get all api
  src/constants/schema.ts
  src/middlewares/validator.ts
  src/routes/department.route.ts
Due: eslint --max-warnings=10, prettier -w

feat: pagination department
  src/controllers/department.controller.ts
  src/services/department.service.ts
Due: eslint --max-warnings=10, prettier -w

Path conditions:
  eslint --max-warnings=10: any of: **/*.{js,jsx,ts,tsx}
  prettier -w: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{json,css,scss,md,webmanifest})
